
@model List<DealDouble.Entities.Auctions>
@{
    ViewBag.Title = "Index";
}

<div id="listingArea">
    <table class="table table-hover">
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>ActualAmount</th>
            <th>StartingDate</th>
            <th>EndingDate</th>
            <th>Actions</th>
        </tr>

        @foreach (var auction in Model)
        {
            <tr>
                <td>@auction.Title</td>
                <td>@auction.Description</td>
                <td>@auction.ActualAmount</td>
                <td>@auction.StartingDate</td>
                <td>@auction.EndingDate</td>
                <td><Button class="editButton btn btn-primary" data-id="@auction.ID" type="button" data-toggle="modal" data-target="#formModal">Edit</Button></td>
                <td><Button class="deleteButton btn btn-danger" data-id="@auction.ID" type="button">Delete</Button></td>
            </tr>
        }

    </table>
    <!-- Modal Trigger Button -->
    <button id="newButton" class="btn btn-success" type="button" data-toggle="modal" data-target="#formModal">AddNewRecord</button>

    <script>
    $("#newButton").click(function () {

        $.ajax({
            url: "@Url.Action("Create","Auctions")"
        }).done(function (response) {
            $("#formModal").modal("toggle")
            $("#contentArea").html(response)
        })
    });

        $(".editButton").click(function () {

            $.ajax({
                url: "@Url.Action("Edit","Auctions")",
                type: "get",
                data: {
                    ID: $(this).attr("data-id")
                }
            }).done(function (response) {
                
                $("#contentArea").html(response)
            });
        });

         $(".deleteButton").click(function () {

             var result = confirm("Are you sure you want to delte this record !");
             if (result == true) {

                 $.ajax({
                     url: "/Auctions/Delete/",
                     type: "POST",
                     data: {
                            ID: $(this).attr("data-id")
                     }
                 }).done(function (response) {

                     $("#listingArea").html(response);
                 });

             }
        });
    </script>
</div>

<!-- Modal -->
<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="contentArea">

        </div>
    </div>
</div>