@model List<DealDouble.Entities.Auctions>
@{
    ViewBag.Title = "Listing";
}

    <table class="table table-hover">
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>ActualAmount</th>
            <th>StartingDate</th>
            <th>EndingDate</th>
            <th>Actions</th>
        </tr>

        @foreach (var auction in Model)
        {
            <tr>
                <td>@auction.Title</td>
                <td>@auction.Description</td>
                <td>@auction.ActualAmount</td>
                <td>@auction.StartingDate</td>
                <td>@auction.EndingDate</td>
                <td><Button class="editButton btn btn-primary" data-id="@auction.ID" type="button" data-toggle="modal" data-target="#formModal">Edit</Button></td>
                <td><Button class="deleteButton btn btn-danger" data-id="@auction.ID" type="button">Delete</Button></td>
            </tr>
        }

    </table>

    <script>
       $(".editButton").click(function () {

            $.ajax({
                url: "@Url.Action("Edit","Auctions")",
                type: "get",
                data: {
                    ID: $(this).attr("data-id")
                }
            }).done(function (response) {

                $("#contentArea").html(response)
                $("#formModal").modal("toggle")
            });
        });

         $(".deleteButton").click(function () {

             var result = confirm("Are you sure you want to delte this record !");
             if (result == true) {

                 $.ajax({
                     url: "/Auctions/Delete/",
                     type: "POST",
                     data: {
                            ID: $(this).attr("data-id")
                     }
                 }).done(function (response) {

                     $("#listingArea").html(response);
                 });

             }
        });
    </script>


